body {
  margin: 0;
  font-family: Courier, monospace;
  font-weight: 600;
  color: var(--gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gray: #505050;  
  --gray-light: #8d9794;
  --buy-light-color: #aacfc4;
  --sell-light-color: #eabbbe;
  --buy-color: #0c8360;
  --sell-color: #d86b72;
  --primary-color: #ecf1ee;
  --shadow-color: #93a098;
}
